body {
    background-image: url('resources/img/background.png');
    background-size: 100% 100%;
}

#table-parent{
    display: flex;
    justify-content: center;
}

.directory-table {
    font-size: 1.2em;
    color: brown;
    width: 90%;
}

.info-card {
    margin-bottom: 5%;
    margin-top: 5%;
    width: 25%;
}