body {
    background-image: url('resources/img/background.png');
    background-size: 100% 100%;
}

#table-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.directory-table {
    margin: 1.1%;
    font-size: large;
    color: brown;
}

.info-card {
    margin-bottom: 5%;
    margin-top: 5%;
    width: 35%;
    font-size: medium;
}